@font-face {
  font-family:"logo" ;
  src: url("../src/Assests/font/Ruihanttrial-BF64519d238a6c1.ttf");
}
@font-face {
  font-family:"logo1" ;
  src: url("../src/Assests/font/Biologis-BF644ead646d6db.otf");
}