.cardord{
    /* background: linear-gradient(rgb(199, 199, 235) ,rgb(190, 162, 190)); */
box-shadow: 0 8px 32px 0 rgba(96, 103, 202, 0.37);
backdrop-filter: blur( 4px );
-webkit-backdrop-filter: blur( 4px );
border-radius: 10px;
border: 1px solid rgba( 255, 255, 255, 0.18 );
}